@import "../../style/mixins.scss";

.btn-add {
  background: var(--light-color);
  color: var(--text-dark-color);
  border-radius: 10px;
  padding: 0.5rem;
}
.home-container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem;
  align-items: center;
}
