@import "./variables.scss";
@import "../style/mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--primary-color);
  color: var(--text-dark-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin: 0 auto;
  //padding: 1rem;
  //max-width: 1000px;
}
//reset
button {
  border: unset;
  background: unset;
  color: unset;
  font: unset;
  cursor: pointer;
  @include btn();
}
input,
textarea {
  background-color: var(--dark-color);
  color: unset;
  font: unset;
  border: none;
  resize: none;
}
a {
  text-decoration: unset;
  color: var(--light-color);
  font: unset;
  &:hover {
    text-decoration: underline;
  }
}
