@mixin btn() {
  padding: 0.3rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  &:hover {
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
}

@mixin card() {
  margin: 1.5rem 0;
  border-radius: 10px;
  padding: 1rem;
  background: var(--light-color);
  box-shadow: var(--box-shadow);
}
